@media (min-width: 300px) {
    .carouselDiv {
        width: 100%;
    }
}


@media (min-width: 800px) {
    .carouselDiv {
        width: 70%;
    }
}

@media (min-width: 1000px) {
    .carouselDiv {
        width: 67%;
    }
}